<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--blue">Medeiros</span><span class="main-header__title--orange">Computers</span>
    </h1>
    <div class="container-menu">
        <nav class="main-header__menu">
            <ul>
                <li>
                    <a routerLink="produtos">Produtos</a>
                </li>
                <li>
                    <a routerLink="carrinho">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Carrinho
                        <span class="badge-carrinho">{{carrinhoService.obtemCarrinho().length}}</span>
                    </a>
                </li>
                <li><a routerLink="contato">Contato</a></li>
                <li><a href="https://github.com/viinicius-medeiross" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="https://instagram.com/viiniciuss_medeiross?igshid=MzRlODBiNWFlZA==" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://wa.me/5561996724174" target="_blank"><i class="fa-brands fa-whatsapp" ></i></a></li>
                <li><a href="https://www.linkedin.com/in/vinicius-medeiros-1b192b270/" target="_blank" ><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
        </nav>
        <app-barra-pesquisa></app-barra-pesquisa>
    </div>
</header>
